asgiref
asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
charset-normalizer
colorama
decorator
defusedxml
django
django-allauth
django-cors-headers
django-filter
djangorestframework
docopt
drf-yasg
executing
fastjsonschema
idna
inflection
ipython
jedi
jinja2
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
jupyterlab-pygments
markupsafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
packaging
pandocfilters
parso
pickleshare
pipreqs
platformdirs
prompt-toolkit
psycopg-binary
pure-eval
pygments
python-dateutil
python-dotenv
pytz
# pywin32
pyyaml
pyzmq
referencing
requests
rpds-py
six
soupsieve
sqlparse
stack-data
tinycss2
tornado
traitlets
typing-extensions
tzdata
uritemplate
urllib3
wcwidth
webencodings
yarg
